* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

.main-component {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  /* grid-template-columns: 1fr 1fr; */
  margin: 0 auto;
  padding-top: 70.4px;
}

.primary {
  margin: 0 0 0 24px;
  padding: 24px 24px 24px 0;
}

.video-iframe {
  aspect-ratio: 16 / 9;
}

iframe {
  border-radius: 12px;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.channel-details-container {
  display: flex;
  justify-content: space-between;
}

.channel-details-options {
  display: flex;
}

.video-title-container {
  font-size: 1.25rem;
  color: #0f0f0f;
  padding: 16px 0;
}

.channel-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channel-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.channel-pic {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.subscriptions-count {
  color: #606060;
  font-size: 0.8rem;
}

.subscribe {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f0f0f0;
  height: 36px;
  margin: 0 10px;
  padding: 0 8px;
  border-radius: 18px;
  position: relative;
}

.sub-hover-options {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 36px;
  height: 160px;
  padding: 8px 0;
  background-color: white;
}

.sub-hover-options label {
  font-size: 14px;
  padding: 0 12px 0 16px;
}

.bell {
  width: 24px;
  height: 24px;
  margin: 0 2px;
}

.additional-options-container {
  margin: inherit;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.additional-options-label {
  cursor: pointer;
}

.like-dislike {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f0f0f0;
  height: 36px;
  border-radius: 18px;
  margin: 0 10px;
}

.like {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 36px;
  border-radius: 18px 0 0 18px;
  padding-left: 16px;

  & label {
    padding: 0 6px;
  }
}

.border-r {
  border-right: 1px solid #bababa;
  height: 70%;
}

.dislike {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 52px;
  border-radius: 0 18px 18px 0;
}

.download {
  background-color: #f0f0f0;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 118.34px;
  height: 36px;
}

label {
  cursor: pointer;
}

.three-dot {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.share {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 18px;
  height: 36px;
  width: 92.12px;
}

.subscribe:hover,
.like:hover,
.dislike:hover,
.share:hover,
.download:hover,
.three-dot:hover {
  background-color: #ddd;
}

.subscribe:active,
.like:active,
.dislike:active,
.share:active,
.download:active,
.three-dot:active {
  background-color: #bebebe;
}

.additional-options-label {
  margin: 0 4px;
  font-size: 14px;
  font-weight: 500;
}

.secondary {
  padding: 24px 24px 0 0;
}

.topic-selector {
  display: inline-block;
  margin: 0 12px 0 0;
  height: 48px;
  width: 426px;
  white-space: nowrap;
  overflow: scroll;
  position: relative;
}

.topic-selector::-webkit-scrollbar {
  display: none;
}

.topic-renderer {
  display: inline-flex;
  margin: 8px 8px 8px 0;
  height: 32px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  align-items: center;
  background-color: #eee;
  white-space: nowrap;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: black;
    color: white;
  }
}

.first-renderer {
  background-color: black;
  color: white;
}

.first-renderer:hover {
  background-color: black;
  color: white;
}

.watch-next-section-renderer {
  margin-top: 10px;
}

.compact-video-renderer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 94px;
  margin: 10px;
}

.compact-video-details {
  width: 226px;
  padding: 0 24px 0 0;
}

.video-name {
  font-size: 14px;
  margin: 0 0 4px;
  font-weight: 500;
  & span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.channel-details {
  font-size: 12px;
  color: #606060;
  margin: 6px 0;
}

.compact-image img {
  width: 168px;
  border-radius: 8px;
  margin-right: 8px;
}

.svg-more-details {
  border-radius: 50%;
  &:hover {
    background-color: #ddd;
  }
}

.section-divider {
  /* margin-top: 26px; */
  width: 95%;
  border: 1px solid #eee;
}

.shorts {
  margin-bottom: 24px;
}

.shorts-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.shorts-heading {
  font-weight: 700;
}

#Layer_1 {
  width: 24px;
  height: 24px;
  margin: 10px;
}

.card-image {
  width: 131px;
}

.card-image img {
  border-radius: 8px;
  height: 238px;
  width: 131px;
}

.shorts-card-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0;
}

.multi-card-container {
  margin: 0 2px;
  width: 131px;
}

.card-title {
  height: 44px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  /* -webkit-box-orient: horizontal; */
}

.card-views {
  font-size: 14px;
  color: #606060;
}

.arrow-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -25px;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  /* border: 2px solid black; */
  box-shadow: #0f0f0f;
}

.arrow-next:hover {
  background-color: #eee;
}
