* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

/* Main Section Starts */
.content-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 0 20px;
  margin-top: 70.4px;
}

.aside {
  background-color: white;
  /* background-color: #c4bce0; */
  min-height: 100vh;
  padding: 50px 16px 0;
  grid-row-start: 1;
  grid-row-end: 3;
  label {
    display: flex;
    padding: 14px 16px;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    justify-content: baseline;
    margin-left: 8px;
  }
  label:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.floating-labels {
  position: fixed;
}

.mobile-nav {
  display: none;
  color: #606060;
  overflow: scroll;
}

.mobile-nav label:hover {
  color: #0f0f0f;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.mobile-nav::-webkit-scrollbar {
  display: none;
}

.mobile-nav label {
  margin: 0 18px;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  gap: 24px;
  justify-content: center;
  margin: 24px 8px 24px 24px;
}

.box-container {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 212px;
  padding: 4px;
}

.card-image-container {
  height: 139px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  &:hover {
    .time-stamp {
      display: none;
    }
    .hov-box-1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .hov-box-2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .thumb {
      display: none;
    }
    .gif {
      display: inline;
    }
  }
}

.gif {
  display: none;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  /* cursor: pointer; */
}

.card-title-container {
  margin: 8px 0 0;
  height: 32px;
  /* background-color: gray; */
  border-radius: 12px;
  display: flex;
  position: relative;
  /* cursor: pointer; */
  svg {
    position: absolute;
    top: 4px;
    left: 225px;

    &:hover {
      background-color: #767676;
      border-radius: 50%;
    }
  }
}

.title {
  cursor: pointer;
  font-size: 14px;
  height: 100%;
  line-height: auto;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-meta-data-container {
  height: 14px;
  margin: 8px 0 0;
  border-radius: 12px;
}

.views {
  font-size: 12px;
  font-weight: 400;
  color: #606060;
}

.hov-box-1 {
  display: none;
  height: 28px;
  width: 28px;
  background-color: rgba(0, 0, 0, 0.496);
  color: white;
  border-radius: 6px;
  position: absolute;
  top: 10px;
  left: 215px;
  padding: 2px;
  cursor: pointer;
}

.hov-box-2 {
  display: none;
  height: 28px;
  width: 28px;
  background-color: rgba(0, 0, 0, 0.496);
  border-radius: 6px;
  position: absolute;
  top: 45px;
  left: 215px;
  padding: 2px;
  cursor: pointer;
}

.time-stamp {
  background-color: rgba(0, 0, 0, 0.496);
  color: #ececec;
  font-weight: 500;
  width: 40px;
  height: 20px;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  left: 200px;
  top: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (width <= 768px) {
  .aside {
    display: none;
  }

  .content-container {
    grid-template-columns: 1fr;
  }

  .mobile-nav {
    display: flex;
  }

  input {
    display: none;
  }

  .search-button {
    display: none;
  }

  .nav-container {
    padding: 16px 18px;
  }
}
/* Main Section Ends */
